Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -modernize-return-braced-init-list,
  -modernize-avoid-c-arrays,
  -readability-named-parameter,
  -readability-identifier-length,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-owning-memory

WarningsAsErrors: "*"
HeaderFilterRegex: "crates/qgis-sys/.*"
